.dashboard {
  padding: 20px 15px;
  background: #eee;
  height: 270px;
}

.dashboard::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
}

.col-4 {
  float: left;
  box-sizing: border-box;
  width: 33.3333%;
}
